///
/// Elemental by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Banner */

	.banner {
		@include color-button(accent4);
		@include color-typography(accent4);
		padding: 9em 0;
		@include vendor('background-image', (
			'linear-gradient(to top, rgba(74,74,74,0.50), rgba(74,74,74,0.50))',
			'url("../../assets/img/church-exterior.jpg")'
		));
		@include vendor('display', 'flex');
		@include vendor('align-items', 'center');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		text-align: center;

		h2 {
			@include vendor('flex', '1 1 auto');
			font-size: 2.5em;
			margin: 0;
		}

		> * {
			@include vendor('transition', 'opacity 1s ease-in-out');
			@include vendor('transition-delay', '1.25s');
			opacity: 1;
		}

		@include breakpoint('<=large') {
			padding: 7em 0;

			h2 {
				font-size: 2em;
			}
		}

		@include breakpoint('<=medium') {
			padding: 9em, 3em;
		}

		@include breakpoint('<=small') {
			padding: 6em 3em;

			h2 {
				font-size: 1.75em;
			}
		}

		@include breakpoint('<=xxsmall') {
			padding: 5em 2em;

			h2 {
				font-size: 1.5em;
			}
		}

		body.is-preload & {
			> * {
				opacity: 0;
			}
		}
	}
