///
/// Elemental by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Faces */

	ul.faces {
		@include vendor('display', 'flex');
		@include vendor('flex-wrap', 'wrap');
		@include vendor('justify-content', 'space-around');
		list-style: none;
		margin: (_size(element-margin) * 1.75) -2em;
		padding: 0;
		text-align: center;

		&:last-child {
			margin-bottom: _size(element-margin);
		}

		li {
			width: 50%;
			border-style: solid;
			border-left-width: 1px;
			padding: 0 2em 3em 2em;
			position: relative;

			&:nth-child(2n + 1)	 {
				border-left: 0;
			}

			h3, h4 {
				margin: 0;
			}

			h3 {
				font-size: 1.2em;
				font-weight: _font(weight-extrabold);
			}
			h4 {
				font-size: 1.2em;
				font-weight: _font(weight-bold);
				margin-bottom: 1em;
			}

			.image {
				margin: 0 0 _size(element-margin) 0;

				img {
					border-radius: 100%;
					max-width: 60%;
					margin: 0 auto;
				}
			}

			> :last-child {
				margin-bottom: 0;
			}
		}

		@include breakpoint('<=medium') {
			@include vendor('flex-direction', 'column');
			margin-left: 0;
			margin-right: 0;

			li {
				width: 100%;
				border-left-width: 0;
				border-top-width: 1px;
				margin-left: 0;
				padding-left: 0;
				padding-right: 0;
				padding-top: 3em;
				-ms-flex: 0 1 auto;

				&:first-child {
					border-top-width: 0;
					margin-top: 0;
					padding-top: 0;
				}

				.image {
					img {
						min-width: 160px;
						max-width: 40%;
					}
				}
			}
		}
	}

	@mixin color-faces($p: null) {
		ul.faces {
			li {
				border-color: _palette($p, border);
			}
		}
	}

	@include color-faces;
