---
title: St Christopher's Church, Brislington
---

<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body class="is-preload">

    <!-- Header -->
      <div id="header"{% if nav === 'inline' %} class="alt"{% endif %}>
        <a class="logo" href="/">St. Christopher's Church Brislington</a>
        <nav id="nav">
          <ul>
            <li {% if page.url === '/' %} class="active"{% endif %}><a href="/">Home</a></li>
            <li {% if page.url.startsWith('/team') %} class="active"{% endif %}><a href="/team">Team</a></li>
            <li {% if page.url.startsWith('/whats-on') %} class="active"{% endif %}>
              <a href="#">What's On</a>
              <ul>
                <li><a href="/whats-on/services">Services</a></li>
                <li><a href="/coming-soon">Groups</a></li>
                <li><a href="/coming-soon">Events</a></li>
              </ul>
            </li>
            <li {% if page.url.startsWith('/mission') %} class="active"{% endif %}>
              <a href="#">Mission</a>
              <ul>
                <li><a href="/coming-soon">Our Mission</a></li>
                <li><a href="/mission/christian-faith">The Christian Faith</a></li>
                <li><a href="/coming-soon">Prayer</a></li>
                <li><a href="/coming-soon">The Bible</a></li>
                <li><a href="/coming-soon">What are we doing?</a></li>
              </ul>
            </li>
            <li {% if page.url.startsWith('/venue-hire') %} class="active"{% endif %}>
              <a href="#">Venue and Hire</a>
              <ul>
                <li><a href="/coming-soon">Weddings</a></li>
                <li><a href="/coming-soon">Baptisms</a></li>
                <li><a href="/coming-soon">Funerals</a></li>
                <li><a href="/coming-soon">Private Parties</a></li>
                <li><a href="/coming-soon">Corporate Hire</a></li>
              </ul>
            </li>
            <li {% if page.url === '/safeguarding' %} class="active"{% endif %}><a href="/coming-soon">Safeguarding</a></li>
          </ul>
        </nav>
      </div>

    <!-- Main -->
      <main id="main">
        {{ content | safe }}
      </main>

    <!-- Footer -->
      <div id="footer">
        <h2>Connect with us</h2>
        <p>We'd love to hear from you.</p>
        <ul class="major-icons">
          <li>
            <h3 class="icon solid fa-phone major"><span class="label">Phone</span></h3>
            <p><a href="tel:+441179094235">0117 909 4235</a></p>
          </li>
          <li>
            <h3 class="icon solid fa-map major"><span class="label">Address</span></h3>
            <p><a href="https://goo.gl/maps/NCDZjFJhg7hh1S3T6">St Christopher's, Hampstead Road, Brislington, Bristol BS4 3HN</a></p>
          </li>
          <li>
            <h3 class="icon brands fa-facebook-f major"><span class="label">Email</span></h3>
            <p><a href="http://www.facebook.com/groups/stchristophersbrislington">St Christopher's Facebook Group</a></p>
          </li>
        </ul>
        <p class="copyright">Copyright &copy;2020 St Christopher's Church Brislington, All Rights Reserved.</p>
      </div>

    <!-- Scripts -->
      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/jquery.dropotron.min.js"></script>
      <script src="/assets/js/jquery.scrollex.min.js"></script>
      <script src="/assets/js/browser.min.js"></script>
      <script src="/assets/js/breakpoints.min.js"></script>
      <script src="/assets/js/util.js"></script>
      <script src="/assets/js/main.js"></script>

  </body>
</html>
