<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body class="is-preload">

    <!-- Header -->
      <div id="header" class="alt">
        <a class="logo" href="index.html">St. Christophers Church Brislington</a>
        <nav id="nav">
          <ul>
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="#">Team</a></li>
            <li>
              <a href="#">What's On</a>
              <ul>
                <li><a href="#">Services</a></li>
                <li><a href="#">Groups</a></li>
                <li><a href="#">Events</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Mission</a>
              <ul>
                <li><a href="#">Our Mission</a></li>
                <li><a href="#">The Christian Faith</a></li>
                <li><a href="#">Prayer</a></li>
                <li><a href="#">The Bible</a></li>
                <li><a href="#">What are we doing?</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Venue and Hire</a>
              <ul>
                <li><a href="#">Weddings</a></li>
                <li><a href="#">Baptisms</a></li>
                <li><a href="#">Funerals</a></li>
                <li><a href="#">Private Parties</a></li>
                <li><a href="#">Corporate Hire</a></li>
              </ul>
            </li>
            <li><a href="#">Safeguarding</a></li>
            <li><a href="generic.html">Generic</a></li>
            <li><a href="elements.html">Elements</a></li>
          </ul>
        </nav>
      </div>

    <!-- Main -->
      <div id="main">

        <!-- Header -->
          <header>
            <span class="logo"></span>
            <h1>St. Christophers Church Brislington</h1>
          </header>

        <!-- Banner -->
          <section id="content" class="wrapper">
            {{ content | safe }}
          </section>



      </div>

    <!-- Footer -->
      <div id="footer">
        <h2>Get in touch</h2>
        <p>Praesent dapibus, neque id cursus faucibus, tortor neque ege tas augue, eu vulputate magna eros eu erat. Aliquam erat et volutpat. Nam dui mi, tincidunt quis, accumsan porttitor tempus lorem ipsum dolor sit amet consequat.</p>
        <ul class="major-icons">
          <li>
            <h3 class="icon solid fa-phone major"><span class="label">Phone</span></h3>
            <p>(000) 000-0000</p>
          </li>
          <li>
            <h3 class="icon solid fa-map major"><span class="label">Address</span></h3>
            <p>1234 Fictional Road<br />
            Nashville, TN 00000</p>
          </li>
          <li>
            <h3 class="icon solid fa-envelope major"><span class="label">Email</span></h3>
            <p><a href="#">info@untitled.tld</a></p>
          </li>
        </ul>
        <ul class="joined-icons">
          <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
          <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
        </ul>
        <p class="copyright">&copy; Untitled. All rights reserved. Lorem ipsum dolor sit amet.</p>
      </div>

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.dropotron.min.js"></script>
      <script src="assets/js/jquery.scrollex.min.js"></script>
      <script src="assets/js/browser.min.js"></script>
      <script src="assets/js/breakpoints.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>

  </body>
</html>
