---
layout: base
nav: inline
---

<header>
  <span class="logo"></span>
  <h1>St. Christopher's Church Brislington</h1>
</header>

<section id="content" class="wrapper">
  {{ content | safe }}
</section>
