---
layout: base
---

<!-- Header -->
<header>
  <span class="logo"></span>
  <h1>St. Christophers Church Brislington</h1>
</header>

<section class="banner">
  <h2>A warm welcome</h2>
</section>

<section class="wrapper">
  {{ content | safe }}
</section>
