---
layout: base
nav: inline
---

<!-- Header -->
<header>
  <span class="logo"></span>
  <h1>St. Christopher's Church Brislington</h1>
</header>

<main class="wrapper">
  {{ content | safe }}
</main>
