<li>
  <span class="image"><img src="/assets/img/team/{{img}}.jpg" alt="{{imgAlt}}"></span>
  <h3>{{ name }}</h3>
  <h4>{{ position }}</h4>
  {{ content | safe }}
  <p>Contact: <a href="tel:{{tel.href}}">{{ tel.display }}</a></p>
</li>
